<h1>All Historical Figures</h1>
<%@landmarks.each do |landmark| %>
 <p><a href="/landmarks/<%= landmark.id %>"><%=landmark.name%></p>

<%end%>
<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
